<% content_for :page_title do %>
    <%= Spree.t("categories_content.categories") %> <i class="icon-arrow-right"></i> <%= Spree.t("categories_content.editing_category") %> "<%= @category.name%>"
<% end %>

<% content_for :page_actions do %>
    <li><%= button_link_to Spree.t(:back_to_categories_list), spree.admin_categories_url, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render "spree/shared/error_messages", :target => @category %>
<%= javascript_include_tag('ckeditor/init') %>
<%= form_for [:admin, @category] do |f| %>
  <%= f.label :name %> <span class="required">*</span><br />
  <%= f.text_field :name, :class => 'fullwidth title' %>
  <%= f.error_message_on :name %>
  <%= f.label Spree.t("articles_content.link") %> <span class="required">*</span> <br />
  <%= f.text_field :slug, :class => 'fullwidth title' %>
  <%= f.error_message_on :slug %>
  <div id="art">
    <%= f.fields_for :spree_articles do |builder| %>
        <%= render 'spree_article_fields', :f => builder %>
    <% end %>
  </div>
  <p><%= link_to_add_fields2(Spree.t('articles_content.add_article'), f, :spree_articles) %></p>

  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>
