<% content_for :head do -%>
    <meta name="title" content="<%= @category.name %>">
<% end -%>
<div class="block">
  <div class="product_title">
    <div style="margin-left: 15px;"> <%= @category.name %></div>
  </div>
  <!--<div class="product_block_cart">
    <div class="product_cart" id="link-to-cart" data-hook><%= link_to_cart %></div>
    <div class="product_cart_img"></div>
  </div> -->
</div>
<br /><br />
<div class="block" id="ellipsis">
  <% @category.spree_articles.each_with_index do |a, index| %>
      <div class="articlelist_blog_block">
        <div class="faq_block_q2">
          <div class="faq_block_q2_title_text">
            <%= a.title %>
          </div>
        </div>
        <div class="faq_block_a2">
          <!--<div class="faq_block_a2_text">  -->
            <%= raw a.content %>
          <!--</div>-->
        </div>
        <div class="faq_block_a articlelist_blog_bar_datareadmore">
          <div style="display:inline-block;"></div>
          <div style="display:inline-block; float:right;"><%= link_to "read more ...", '/article/' + a.id.to_s %></div>
        </div>
      </div>
      <% if (index % 2) == 0 %>
          <div class="articlelist_blog_separator"></div>
      <% end %>
  <% end %>
</div>
